<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <description> Mensajeador web de ejemplo </description>
  <display-name> Mensajeador web de ejemplo </display-name>
  <servlet>
     <servlet-name>Ranking</servlet-name>
    <servlet-class>servlets.Ranking</servlet-class>
    
   
    
  </servlet>
   
  <servlet-mapping>
    <servlet-name>Ranking</servlet-name>
    <url-pattern>/Ranking</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
	<welcome-file>/Ranking.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>